{% extends 'about/base.html' %}
{% load static %}
{% block text-center %} text-center {% endblock %}
{% block nav-active-home %}active{% endblock %}
{% block content %}
    <main class="px-3">
        <h1>Educational Institute</h1>
        <p class="lead">
            It is an web applications for educational institute for managing students and staffs. Also the website
            provides to share notes with students
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register Institute</a>
        </p>
    </main>
{% endblock %}

