.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.asteriskField {
    color: red;

}

#navbar-user-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar-user-detail .nav-item {
    margin-right: 8px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

@media (max-width: 767px) {
    #navbar-user-detail {
        margin-right: 5em;
    }
}
